@import 'aepsy-ui/styles/utils.scss';

.RatingContainer {
  cursor: pointer;
  display: inline-block;
}

.RatingContainer--star {
  display: inline-block;
  margin: 0 4px;
  transition: all 175ms $elastic;
  will-change: transform;

  &:hover,
  &:active {
    transform: scale(1.25);
  }
}
