@import 'aepsy-ui/styles/utils.scss';

.ChatImagePreview--Backdrop {
    width: 100%;
    height: 100%;
    background: $c-primary;
    position: absolute;
    opacity: 0.8;
}

.ChatImagePreview {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: zoom-out;

    .ChatImagePreview--ActionButtons {
        position: absolute;
        right: 10px;
        display: flex;
        z-index: 2;
    }

    .ChatImagePreview--Image {
        opacity: 1;
        padding: 5px;

        &.big-size {
            @include above-mobile {
                height: 100%;
            }
        }

        .ChatItemPreview--Loader {
            display: flex;
            justify-content: center;
            height: 100%;
            width: 100%;
        }

        .ChatImagePreview--ImageInner {
            width: 100%;
            height: 100%;

            img {
                width: auto;
                height: auto;
                max-width: 100%;
                max-height: 100%;
                object-fit: contain;
                border-radius: $brad-l;
                position: absolute;
                top: 50%;
                right: 50%;
                transform: translate(50%, -50%);
                z-index: 1;
                padding: 5px;
            }
        }
    }
}

.modal-wrapper.sc-ion-modal-md {
    background: transparent;
    width: 100%;
    height: 100%;

    .ion-page {
        width: 100%;
        height: 100%;
    }
}

.modal-wrapper.sc-ion-modal-ios {
    @include mobile {
        background: transparent;
    }
}

ion-modal.ImagePreview--modal {
    --width: 100%;
    --height: 100%;
    --background: transparent;
}
