@import 'aepsy-ui/styles/utils.scss';

.AnnouncementBar {
    width: 100%;
    position: fixed;
    top: 70px;
    left: 0px;
    background-color: $c-warning;
    display: block;
    z-index: 999;

    @include mobile {
        top: 0;
        position: relative;
    }

    .AnnouncementBar--content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 0.5rem 2rem;

        @include mobile {
            padding: 1rem 3rem 1rem 2rem;
        }
    }
    .AnnountmentBar--button {
        position: absolute;
        right: 10px;
        top: 5px;
    }

    .Button {
        background-color: transparent;
    }

    .Title {
        margin: 0;
    }

    &.theme-alert {
        background-color: $c-dark-yellow;
        .Title,
        a {
            color: $c-white;
        }
    }
}
