@import 'aepsy-ui/styles/utils.scss';

.InsuranceCheckerDropdown {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    &.Module.theme-purple.variant-modal {
        padding: 16px;

        @include mobile {
            padding: 16px 8px;
        }
    }

    .InsuranceCheckerDropdown--loading {
        width: 250px;
        @include mobile {
            width: 130px;
        }
    }

    .InsuranceCheckerDropdown--title {
        margin-left: 8px;
        margin-right: 16px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        max-width: 250px;

        @include mobile {
            max-width: 130px;
            margin-right: 8px;
        }
    }
}
