@import 'aepsy-ui/styles/utils.scss';

.BookingTimePicker {
    width: 100%;
    position: relative;
    display: flex;
    align-items: flex-start;

    .BookingTimePicker--slider {
        width: 100%;
    }

    @include mobile {
        display: block;
    }
}

.BookingTimePicker--content {
    height: 250px;
    width: 100%;

    @include mobile {
        height: 200px;
    }
}

.BookingTimePicker--slide {
    width: 100%;
}

// Navigation

$navItemSize: 40px;

.BookingTimePicker--nav {
    @include mobile {
        position: absolute;
        z-index: 5;
        top: 0;

        &.is-prev {
            left: 0;
        }

        &.is-next {
            right: 0;
        }
    }
}

.BookingTimePicker--nav--item {
    display: inline-block;
    background-color: rgba($c-rose-4, 0.8);
    border-radius: $navItemSize;
    width: $navItemSize;
    height: $navItemSize;
    line-height: $navItemSize + 5;
    text-align: center;
    color: $c-white;
    will-change: transform;
    transition: all 170ms $light-elastic;
    margin-left: 8px;
    font-size: 25px;
    cursor: pointer;

    &:hover {
        transform: scale(1.03);
        background-color: rgba($c-rose-4, 0.8);
    }

    &:active {
        transform: scale(0.96);
    }

    &[disabled] {
        opacity: 0.2;
        cursor: default;
        &:hover {
            transform: none;
            // background-color: rgba($c-rose-4, 0.4);
            background-color: rgba($c-rose-4, 1);
        }

        &:active {
            transform: none;
        }
    }
}
