@import 'aepsy-ui/styles/utils.scss';

.BookingSliderWrapper {
    width: 100%;

    > .swiper-wrapper {
        width: 100%;

        > .swiper-slide {
            width: 100%;
            min-width: 100%;
            display: block;
            padding-left: 3px;
            padding-right: 3px;
            // align-items: flex-start;
            // justify-content: flex-start;
        }
    }
}
