@import 'aepsy-ui/styles/utils.scss';

.BookingSliderHeader {
}

.BookingSliderHeader--inner {
    align-items: center;
}

.BookingSliderHeader--slot {
    min-width: 70px;

    &.is-middle {
        flex: 1;
    }

    &.is-end {
        justify-content: flex-end;
        text-align: right;
    }

    @include mobile {
        min-width: 60px;
    }

    // Visibility State
    &.is-start,
    &.is-end {
        opacity: 0;
        pointer-events: none;
        transition: opacity 220ms ease-in-out;

        &.is-visible {
            opacity: 1;
            pointer-events: initial;
        }
    }
}
