@import 'aepsy-ui/styles/utils.scss';

.BookingTimePickerDay {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.BookingTimePickerDay--header {
    display: flex;
    align-items: center;

    .BookingTimePickerDay--one-line {
        @include above-mobile {
            display: none;
        }
    }

    .BookingTimePickerDay--two-line {
        @include mobile {
            display: none;
        }
    }

    @include mobile {
        height: 40px;
    }
}

.BookingTimePickerDay--body {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;

    @include mobile {
        width: 100%;
        // flex-wrap: wrap;
        // flex-direction:initial;
        // justify-content: center;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.BookingTimePickerDay--slot {
    display: flex;
    width: 100%;

    @include mobile {
        // width: 90px;
        width: 100%;
        margin-bottom: 5px;
    }

    &.is-more {
        .Checkbox label {
            color: $c-rose-4;
        }
    }
}
.BookingTimePickerDay--radio {
    width: 100%;
    label {
        width: 100%;
    }
    &.more {
        @include mobile {
            label {
                padding: 10px 12px !important;
            }
        }
    }
}
