@import 'aepsy-ui/styles/utils.scss';

.RebookingSessionConfirmed {
    .RebookingSessionConfirmed--recommendation {
        display: flex;
        justify-content: center;
        .RebookingSessionConfirmed--callout {
            width: 450px;

            @include mobile {
                width: 90%;
            }
        }
    }
}
