@import 'aepsy-ui/styles/utils.scss';

.AskForProviderRecommendation {
    .AskForProviderRecommendation--wrapper {
        display: flex;
    }

    &.variant-horizontal {
        .AskForProviderRecommendation--wrapper {
            flex-direction: column;
        }

        .Button {
            width: 100%;
        }
    }

    &.variant-vertical {
        .AskForProviderRecommendation--right {
            padding-left: 20px;
        }
        @include tablet-portrait {
            display: none;
        }
    }
}
