@import 'aepsy-ui/styles/utils.scss';

.DiscoveryCard {
    width: 100%;

    > a:hover .Module {
        background-color: rgb(251, 249, 246);
    }
}

.DiscoveryCard--action {
    padding-top: 6px;
}
