@import 'aepsy-ui/styles/utils.scss';

.SessionCard {
    width: 100%;
    .Button {
        max-width: 395px;
    }
    .SessionCardHeader--BackButton {
        color: $c-rose-4;
    }
}

.SessionCardHeader {
    background-color: $c-blue-1;
    cursor: pointer;

    &:hover {
        background-color: darken($c-blue-1, 5%);
    }
}
