@import 'aepsy-ui/styles/utils.scss';

.LanguageSwitcher {
    .ItemGroup {
        margin-bottom: 0 !important;
    }
}

ion-popover.Popover--wrapper.LanguageSwitcher {
    --width: 210px;

    @include mobile {
        --width: 210px;
        --max-height: 350px;
    }
}

.Popover-LanguageSwitcherController {
    .Button--label {
        top: 1px;
        position: relative;
    }
    &.has-margin-right {
        margin-right: 16px;
    }
}
