.MenuLink {
  border-radius: 30px;
  padding: 8px 16px;
  @include font-size(18px);
  @include font-weight('medium');
  display: inline-block;
  opacity: 0.3;

  .global_theme-blue & {
    color: $c-blue-4;
  }

  .global_theme-green & {
    color: $c-green-4;
  }

  &:hover {
    .global_theme-blue & {
      background-color: $c-blue-3;
    }

    .global_theme-green & {
      background-color: $c-green-3;
    }
  }

  &.is-active {
    opacity: 1;
  }
}
