@import 'aepsy-ui/styles/utils.scss';

.FilterSelectionDetail {
    .Dialog--content {
        padding-left: 0;
        padding-right: 0;
    }

    .DialogFullHeader--right {
        right: 20px;
    }

    .FilterSelection--singleChoice-wrapper {
        display: flex;
        overflow-x: auto;
        flex-wrap: nowrap;
        padding-left: 20px;
        scroll-padding-left: 20px;
        width: calc(100% - 20px);

        .Checkbox {
            flex-shrink: 0;
        }
    }

    .FilterSelection--multiChoice-wrapper {
        padding-left: 20px;
        width: calc(100% - 20px);
    }

    .FilterSelectionDetail--title {
        padding-left: 20px;
    }

    .FilterSelection--toggle {
        height: 110px;
        overflow: hidden;

        @include mobile {
            height: 98px;
        }
        &.view-all {
            height: 100%;
        }
    }

    .FilterSelection--primaryCtaWrapper {
        display: flex;
        align-items: center;

        @include mobile {
            flex-direction: column-reverse;
        }
    }

    .FilterSelection--noMatchText {
        @include above-mobile {
            margin-right: 12px;
        }
    }

    .FilterSelection--footerAction {
        display: flex;
        justify-content: space-between;
        @include mobile {
            flex-direction: column-reverse;
            align-items: center;
            .FilterSelection--resetCta {
                margin-top: 8px;
            }
        }
    }
}
