@import 'aepsy-ui/styles/utils.scss';

.FilterSelection {
    position: relative;
    display: flex;
    align-items: center;

    @include mobile {
        flex-direction: column-reverse;
        align-items: flex-end;
    }

    .FilterSelection--searcrName {
        min-width: 300px;
        margin-right: 12px;
        @include mobile {
            min-width: 100%;
            margin-top: 20px;
            width: 100%;
            margin-right: 0px;
        }
    }

    .FilterSelection--badge {
        border-radius: 100%;
        background: $c-primary;
        position: absolute;
        right: -5px;
        top: -5px;
        color: $c-white;
        width: 20px;
        height: 20px;
        z-index: 9;
        display: flex;
        align-items: center;
        justify-content: center;
        @include mobile {
            width: 16px;
            height: 16px;
        }
    }

    .Title.theme-white {
        @include mobile {
            font-size: 10px;
        }
    }
}
