@import 'shop-ui/styles/utils.scss';

.CalendarProviderWeeklyDay {
  border-top: $bor-default-light;
  padding: $itemPadding;

  @include mobile {
    padding: $itemPaddingMobile;
  }
}

.CalendarProviderWeeklyDay--inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  > div {
    width: 100%;
  }
}
