@import 'aepsy-ui/styles/utils.scss';

.CalendarProviderDatePicker {
  margin-top: 20px;

  .MuiPickersToolbar-toolbar {
    background-color: $c-green-3;
    border-radius: $brad-m;
    height: 80px;
    padding: 15px;
  }

  .MuiPickersBasePicker-pickerView {
    width: 100%;
    max-width: 100%;
  }

  .MuiPickersDay-daySelected {
    background-color: $c-rose-4;

    &:hover,
    &:active {
      background-color: $c-rose-3;
    }

    &.MuiPickersDay-current {
      color: white;
    }
  }

  .MuiPickersDay-current {
    color: $c-rose-4;
  }

  .CalendarProviderDatePicker-container {
    display: flex;
    justify-content: center;
    margin-bottom: $itemPaddingMobile;
  }
}

.CalendarProviderDatePicker--intervals {
  border-top: $bor-default-light;
  border-bottom: $bor-default-light;
  padding: $itemPadding;
  background-color: rgba($c-green-1, 0.3);

  @include mobile {
    padding: $itemPaddingMobile;
  }
}
