@import 'aepsy-ui/styles/utils.scss';

.Tile {
    background-color: $c-white;
    width: 100%;
    transition: all 125ms ease-in-out;
    will-change: transform;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    cursor: pointer;

    &:last-child {
        border-bottom: none;
    }

    &.theme-purple {
        border-color: $c-purple-4 !important;
    }

    &.variant-modal {
        border: 1px solid rgba(0, 0, 0, 0.15);
        box-shadow: none !important;
    }

    &.no-margin {
        padding: 0 !important;
        margin: 0 !important;
        border-bottom: none;
        &:hover {
            background-color: unset;
        }
    }

    &.is-active {
        border: 1px solid $c-primary;
    }

    svg {
        font-size: 1.2rem;
        color: $c-green-4;
    }

    /*
        SIZE
    */

    &.size-xs {
        padding: 10px;
        margin-bottom: 10px;

        @include mobile {
            padding: 8px;
            margin-bottom: 10px;
        }
    }

    &.size-s {
        padding: 12px 15px;
        margin-bottom: 10px;

        @include mobile {
            padding: 12px 13px;
            margin-bottom: 10px;
        }
    }
    &.size-m {
        padding: 20px 22px;
        margin-bottom: 10px;

        @include mobile {
            padding: 18px 20px;
            margin-bottom: 12px;
        }
    }
    &.size-l {
        padding: 25px 28px;
        margin-bottom: 20px;

        @include mobile {
            padding: 22px 22px;
            margin-bottom: 15px;
        }

        .Title {
            font-size: 18px;
        }
    }

    /*
        RADIUS
    */
    &.radius-s {
        border-radius: $brad-s;
    }
    &.radius-m {
        border-radius: $brad-m;
    }
    &.radius-l {
        border-radius: $brad-l;
    }

    &.radius-xl {
        border-radius: $brad-xl;
    }

    /*
        ELEVATION
    */
    &.elevation-s {
        box-shadow: $bs-short;
    }
    &.elevation-m {
        box-shadow: $bs-large;
    }

    .Text {
        @include mobile {
            font-size: 14px !important;
        }
    }

    /*
        Interactivity
    */
    &:hover,
    &:active {
        background-color: darken($c-white, 2%);
    }

    &:active {
        transform: translateY(2px);
        box-shadow: none !important;
    }
}

.Tile--inner {
    display: flex;
    flex-direction: row;
    align-items: center;

    &.Tile--inner--flextStart {
        align-items: flex-start;
        .Tile--slot-start {
            margin-top: 3px;
        }
    }
}

.Tile--slot {
    display: flex;
}

.Tile--slot-start {
    margin-right: 10px;

    @include above-mobile {
        margin-right: 15px;
    }
}

.Tile--content {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.Tile--arrowIcon {
    opacity: 0.5;
    svg {
        font-size: 1.7rem;
    }
}

// BADGE

.Tile--badge {
    margin-right: 5px;
    display: inline-block;
}

/*
    Tile Top Slot
*/

.Tile--topSlot {
    display: flex;
    flex: 5;
    margin-bottom: 10px;
    width: 100%;
    justify-content: space-between;
}

.Tile--topRightSlot {
    display: flex;
    flex: 5;
    // margin-bottom: 5px;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
}
