@import 'aepsy-ui/styles/utils.scss';

.CardSlider {
    .swiper-container {
        overflow: visible;
    }

    &.CardSlider--hideOverflow .swiper-container {
        overflow: hidden;

        // trying to show the card box-shadow a bit better
        padding-bottom: 30px;
        padding-top: 10px;
        margin-top: -10px;
    }

    .ModuleGroup--header {
        align-items: flex-end;
    }

    .swiper-slide {
        text-align: left;
    }
}

.CardSwiper--controls {
    flex-shrink: 0;
    margin-bottom: 15px;

    @include mobile {
        margin-bottom: 10px;
    }

    button {
        width: 40px;
        height: 40px;
    }

    button + button {
        margin-left: 8px;
    }
}

.CardSwiper--startControls {
    display: flex;
    align-items: center;

    .CardSwiper--controls {
        margin-right: 10px;
    }
}
