@import 'aepsy-ui/styles/utils.scss';

$H_boxShadow: 0px 4px 12px rgba(0, 0, 0, 0.06);

.Header {
    width: 100%;
    min-height: $headerHeight;
    display: flex;
    align-items: center;

    @include mobile {
        padding: 8px 0px;
        min-height: $headerHeight-mobile;
    }

    .Logo {
        position: relative;
        top: 5px;
    }

    &.hideBottomLine {
        border-bottom: none !important;
        box-shadow: none !important;
    }

    // Fix icon color
    .Button.variant-primary.theme-white {
        box-shadow: none !important;
        .Button--label {
            color: $c-black !important;
        }
    }

    &.theme-dark {
        background-color: $c-green-4;
        box-shadow: $H_boxShadow;

        .Title,
        .Button--label {
            color: $c-white;
        }
        .Logo path {
            fill: $c-white;
        }
    }

    &.theme-soft {
        background-color: $c-green-3;
        box-shadow: $H_boxShadow;

        .Title,
        .Button--label {
            color: $c-white;
        }
        .Logo path {
            fill: $c-white;
        }
    }

    &.theme-nakedDark {
        background-color: transparent;
        border-bottom: 1px solid rgba($c-green-4, 0.3);
    }

    &.theme-white {
        background-color: $c-white;
        box-shadow: $H_boxShadow;
    }

    &.theme-green {
        color: $c-black;
        background-color: $c-gradient-green-start;
        border-bottom: 1px solid rgba($c-green-4, 0.3);
        .Title,
        .Button--label {
            color: $c-white;
        }
        .Logo path {
            fill: $c-white;
        }
    }

    &.theme-nakedWhite {
        background-color: transparent;
        border-bottom: 1px solid rgba($c-white, 0.3);

        .Title,
        .Button--label {
            color: $c-white;
        }
        .Logo path {
            fill: $c-white;
        }
    }
}

.Header--toolbar {
    height: 100%;
    width: 100%;
    display: flex;
}

.Header--inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    min-height: calc($headerHeight - 20px);
}

.Header--slot {
    display: flex;
    min-width: 70px;
    flex: 1 1;

    &.is-end {
        justify-content: flex-end;

        .Button.variant-primary {
            margin-right: 15px;

            @include mobile {
                margin-right: 8px;
            }
        }
    }
}

.Header--content {
    flex: 2 1;
    display: flex;
    flex-direction: column;
}
