@import 'aepsy-ui/styles/utils.scss';

$padding: 15px;
$paddingMobile: 12px;

.AudioPlayer {
    border-radius: $brad-m;
    border: 1px solid $bor-default;
    padding: $padding;
    padding-bottom: $padding - 4px;

    @include mobile {
        padding: $paddingMobile;
        padding-bottom: $paddingMobile - 4px;
    }
}
