@import 'aepsy-ui/styles/utils.scss';

.FeedbackQuestion {
    &.has-scaledSelection-10 {
        .Checkbox {
            width: 10%;
            padding-right: 10px;
            margin-right: 0 !important;
            text-align: center;
            label {
                text-align: center !important;
            }

            @include mobile {
                width: 20%;
                padding-right: 4px;
            }
        }
    }
}
