@import 'aepsy-ui/styles/utils.scss';

// FeedbackReviewHeader
.FeedbackReviewHeader {
    width: 100%;
    background-color: $c-green-3;
    margin-bottom: 150px;

    @include tablet {
        height: 200px;
        margin-bottom: 100px;
    }

    @include mobile {
        height: 140px;
        margin-bottom: 60px;
    }

    .global_theme-green & {
        background-color: $c-green-2;
        // height: 250px;
    }

    &.size-m {
        height: 230px;
    }

    &.size-s {
        height: 150px;
        margin-bottom: 120px;
        @include tablet {
            margin-bottom: 90px;
        }
        @include mobile {
            margin-bottom: 80px;
        }
    }
}

.FeedbackReviewHeader--visual {
    position: relative;
    bottom: -35px;
    z-index: 1;

    @include tablet {
        bottom: -15px;
    }

    &.with-icon {
        bottom: -115px;
        @include mobile {
            bottom: -85px;
        }

        @include tablet {
            bottom: -150px;
        }
    }

    &.with-avatar {
        bottom: -55px;

        @include tablet {
            bottom: -68px;
        }
    }

    @include tablet {
        $size: 150px;

        .Avatar {
            width: $size;
            height: $size;

            .Avatar--icon {
                line-height: $size * 1.1;
                font-size: 35px;
            }
        }
    }
}
