@import 'aepsy-ui/styles/utils.scss';

.Icon {
    display: flex; // fixes the padding-bottom

    &.clickable {
        cursor: pointer;
    }

    /*
        theme
    */

    &.theme-none {
        svg,
        path {
            color: inherit;
        }
    }

    &.theme-pink-gradient {
        svg,
        path {
            color: $c-pink-gradient;
        }
    }

    &.theme-purple {
        svg,
        path {
            color: $c-purple-4;
        }
    }

    &.theme-action {
        svg,
        path {
            color: $c-rose-4;
        }
    }

    &.theme-dark {
        svg,
        path {
            color: $c-green-4;
        }
    }

    &.theme-lighter {
        svg,
        path {
            color: rgba($c-green-4, 0.2);
            fill: rgba($c-green-4, 0.2);
        }
    }

    &.theme-highlighted {
        svg,
        path {
            color: $c-rose-2;
            fill: $c-rose-2;
        }
    }

    &.theme-text {
        svg,
        path {
            color: $c-text;
            fill: $c-text;
        }
    }

    &.theme-soft {
        svg,
        path {
            color: $c-rose-3;
            fill: $c-rose-3;
        }
    }

    &.theme-grey-out {
        svg,
        path {
            color: $c-green-3;
            fill: $c-green-3;
        }
    }
    &.theme-green {
        svg,
        path {
            color: $c-green;
            fill: $c-green;
        }
    }

    &.theme-white {
        svg,
        path {
            color: $c-white;
            fill: $c-white;
        }
    }

    &.theme-danger {
        svg,
        path {
            color: $c-red;
            fill: $c-red;
        }
    }

    &.theme-warning {
        svg,
        path {
            color: $c-dark-yellow;
        }
    }

    &.theme-success {
        svg,
        path {
            color: $c-green-flashy;
            fill: $c-green-flashy;
        }
    }

    &.theme-black {
        svg,
        path {
            color: #000000;
        }
    }

    /*
        size
    */

    &.size-tiny {
        svg,
        path {
            font-size: 0.8rem;
            width: 0.8rem;
            height: 0.8rem;
        }
    }

    &.size-3xs {
        svg,
        path {
            font-size: 0.9rem;
            width: 0.9rem;
            height: 0.9rem;
        }
    }

    &.size-xxs {
        svg,
        path {
            font-size: 1rem;
            width: 1rem;
            height: 1rem;
        }
    }

    &.size-xs {
        svg,
        path {
            font-size: 1.4rem;
            width: 1.4rem;
            height: 1.4rem;
        }
    }

    &.size-s {
        svg,
        path {
            font-size: 1.6rem;
            width: 1.6rem;
            height: 1.6rem;
        }
    }

    &.size-m {
        svg,
        path {
            font-size: 2.2rem;
            width: 2.2rem;
            height: 2.2rem;
        }
    }

    &.size-l {
        svg,
        path {
            font-size: 2.6rem;
            width: 2.6rem;
            height: 2.6rem;
        }
    }

    &.size-xl {
        svg,
        path {
            font-size: 3rem;
            width: 3rem;
            height: 3rem;
        }
    }

    // Alignement
    &.align-center {
        text-align: center;
        justify-content: center;
    }
    &.align-left {
        text-align: left;
    }
    &.align-right {
        text-align: right;
    }

    &.variant-contained {
        &.theme-action {
            svg,
            path {
                fill: $c-rose-4;
            }
        }

        &.theme-black {
            svg,
            path {
                fill: #000000;
            }
        }

        &.theme-dark {
            svg,
            path {
                fill: $c-green-4;
            }
        }

        &.theme-warning {
            svg,
            path {
                fill: $c-dark-yellow;
            }
        }

        &.theme-purple {
            svg,
            path {
                fill: $c-purple-4;
            }
        }
    }

    &.variant-outlined {
        svg,
        path {
            fill: transparent;
        }
    }
}
