@import 'aepsy-ui/styles/utils.scss';

.IconText {
    display: flex;
    align-items: center;
    margin-top: 3px;
    margin-bottom: 3px;

    &.theme-success {
        color: $c-success;
    }
    &.theme-error {
        color: $c-error;
    }

    &.theme-warning {
        color: $c-warning;
    }

    &.theme-white {
        color: $c-white;
    }

    &.align-center {
        justify-content: center;
    }
}
.IconText--item {
    display: inline-block;
    line-height: 1.5;
}
.IconText--icon {
    display: flex;
    align-items: center;
    font-size: 22px;
    // position: relative;
    // top: -2px;
    margin-right: 10px;
    // height: 0;

    img {
        width: 28px;
    }
}
