@import 'aepsy-ui/styles/utils.scss';

$wrapperHeight: 200px;

.InteractiveBubbleLength {
    .MuiSlider-root {
        color: $c-rose-4;
    }
}

.IBL_wrapper {
    position: relative;
    width: 100%;
    height: $wrapperHeight;
}

.IBL_circle {
    $baseSize: 100px;
    position: absolute;
    background-color: rgba($c-rose-4, 0.34);
    will-change: transform;
    width: $baseSize;
    height: $baseSize;
    margin-left: -$baseSize * 0.5;
    margin-top: -$baseSize * 0.5;
    border-radius: $baseSize;
    top: 50%;
    left: 50%;
    display: block;
    transition: transform 220ms $light-elastic;

    &:nth-child(1) {
        transition-delay: 30ms;
        transition-duration: 220ms;
    }
    &:nth-child(2) {
        transition-delay: 60ms;
        transition-duration: 300ms;
    }
    &:nth-child(3) {
        transition-delay: 90ms;
        transition-duration: 380ms;
    }
}

.InteractiveBubbleLength--sentences {
    height: 50px;
    overflow: hidden;

    @include mobile {
        height: 75px;
    }
}
