@import 'shop-ui/styles/utils.scss';

.Stepper {
  &.size-s {
    .Stepper--item {
      $hi: 4px;
      height: $hi;

      &.is-current {
        height: $hi * 1.8;

        // anim 2
        max-width: 12px;
        height: 12px;
      }
    }
  }

  &.size-m {
    .Stepper--item {
      $hi: 6px;
      height: $hi;

      &.is-current {
        // height: $hi*1.8;

        // anim 2
        max-width: 20px;
        height: 20px;
      }
    }
  }
}

.Stepper--inner {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  height: 30px;
}

.Stepper--item {
  flex: 1;
  border-radius: 50px;
  will-change: transform;
  transition: all 220ms $light-elastic;
  margin: 0 2px;
  max-width: 50px;

  @include mobile {
    margin: 0 2px;
  }

  // Current
  &.is-current {
    // Anim 1
    flex: 2;
    max-width: 80px;
  }

  // Current
  &.is-inactive {
    opacity: 0.2;
  }

  // Theme
  .theme-dark & {
    background: $c-green-4;
  }

  .theme-white & {
    background: $c-white;
  }
}
