@import 'shop-ui/styles/utils.scss';

.ExpandedCard {
  position: relative;
  cursor: pointer;
  height: 100%;

  &:hover {
    .Module {
      box-shadow: $bs-light;
    }
  }
  .ExpandedCard--icon {
    position: absolute;
    right: 20px;
    top: 20px;
  }

  .Module {
    height: 100%;
  }
}
