@import 'aepsy-ui/styles/utils.scss';

.CopyProviderUrlCTA {
    .CopyProviderUrlCTA--input {
        font-size: 1px;
        color: $c-text;
        line-height: 0;
        opacity: 1;
        position: absolute;
        top: -9999px;
        left: -9999px;
        pointer-events: none;
    }
}
