@import 'aepsy-ui/styles/utils.scss';

.CopyUrlClipboard {
    // width: 100%;
}

// HIDDEN
.CopyUrlClipboard--input {
    font-size: 1px;
    color: $c-text;
    line-height: 0;
    opacity: 1;
    position: absolute;
    top: -9999px;
    left: -9999px;
    pointer-events: none;
}

.CopyUrlClipboard--inner {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.CopyUrlClipboard--field {
    cursor: copy;
    padding: 15px 15px;
    background: rgba($c-green-4, 0.05);
    border: 1px solid rgba($c-green-4, 0.2);
    border-radius: 15px;
    width: calc(90% - 10px);

    * {
        margin-bottom: 0 !important;
    }

    p {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        max-width: 90%;
        margin: 0;
    }

    @include mobile {
        width: calc(80% - 10px);
    }
}

.CopyUrlClipboard--button {
    width: 10%;

    .Button {
        width: 100%;
    }

    @include mobile {
        width: 20%;
    }
}
