@import 'aepsy-ui/styles/utils.scss';

.DiscountAmount--number {
    color: $c-red;
    opacity: 1 !important;
    font-weight: 500 !important;
}

.DiscountAmount--discountedPrice {
    text-decoration: line-through;
}
