@import 'aepsy-ui/styles/utils.scss';

.GetStartedSteps--title {
    margin-left: 8px;
    margin-bottom: -18px;

    @include above-mobile {
        .Title {
            line-height: 1.2 !important;
        }
    }
}
.GetStartedSteps--video {
    width: 300px;

    video {
        max-width: 100%;
        height: auto;
        display: block;
    }
}

.GetStartedSteps--card {
    @include above-mobile {
        &.card-1 {
            margin-top: -10px;
        }

        &.card-2 {
            margin-top: 60px;
        }

        &.card-3 {
            margin-top: -60px;
        }

        &.card-4 {
            margin-top: 10px;
        }
    }
}
