@import 'aepsy-ui/styles/utils.scss';

.SavedProviderCount {
    margin-right: 20px;
    position: relative;

    span {
        font-size: 10px;
        color: white;
        position: absolute;
        right: -1px;
        background: $c-red;
        width: 14px;
        border-radius: 8px;
        text-align: center;
        border: 1px solid white;
        top: -3px;
        height: 17px;
        z-index: 2;
    }

    &.theme-white {
        span {
            border: unset;
        }
    }
}
.SavedProviderCount--deleteBtn {
    margin-top: -20px;
    .Button--icon {
        svg {
            color: $c-rose-4;
        }
    }
}
