@import 'shop-ui/styles/utils.scss';

.TitleGroup {
  &.align-desktopCenter {
    @include above-mobile {
      display: flex;
      justify-content: center;
      > * {
        text-align: center !important;
      }
    }
  }
}
