@import 'aepsy-ui/styles/utils.scss';

$F_boxShadow: 0px -4px 7px rgba(0, 0, 0, 0.03);

.FixedActionForwardFooter {
    width: 100%;
    background-image: linear-gradient(
        0deg,
        rgba($c-beige-1, 1),
        rgba($c-beige-1, 0.99),
        rgba($c-beige-1, 0)
    );
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    &.theme-transparent {
        background-image: unset;
    }
}

.FixedActionForwardFooter--toolbar {
    width: 100%;
    height: 100%;
}

.FixedActionForwardFooter--inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 10px 20px;

    @media (min-height: (800px)) {
        padding: 10px 10px 70px;
    }

    @media (min-height: (1400px)) {
        padding: 10px 10px 90px;
    }

    @include mobile {
        padding: 7px 10px 20px;
    }
}

.FixedActionForwardFooter--secondary {
    padding-top: 10px;
}
