@import 'aepsy-ui/styles/utils.scss';

.PictureHeader {
    width: 100%;
    background-position: center center;
    background-color: $c-gradient-green-start;
    background-size: cover;
    transition: background-color 400ms ease;

    &.size-s {
        height: 300px;

        @include tablet {
            height: 240px;
        }

        @include mobile {
            height: 180px;
        }
    }

    &.size-m {
        height: 500px;

        @include tablet {
            height: 340px;
        }

        @include mobile {
            height: 280px;
        }
    }

    &.size-l {
        height: 600px;

        @include tablet {
            height: 440px;
        }

        @include mobile {
            height: 380px;
        }
    }

    &.theme-beige {
        background-color: $c-beige-2;
    }

    &.variant-cover {
        position: fixed;
    }
}

.WIPBadge {
    position: absolute;
    top: 40px;
}
