@import 'aepsy-ui/styles/utils.scss';

.ChatPage {
    background-color: $c-beige-1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    contain: layout size style;
    overflow: hidden;
    z-index: 0;

    @include above-mobile {
        width: 100%;
        max-width: $short-width;
        margin: $chat_padding auto;
        border-radius: 20px;
        box-shadow: $bs-large;
    }
}
