.SafeAreaContent {
    --padding-top: 0;
    --padding-start: 0;
    --padding-end: 0;

    position: relative;
    &.has-footer {
        --padding-bottom: 115px; // 115px is the height of fixed action footer
    }
}
