@import 'shop-ui/styles/utils.scss';

.MutedBox {
  position: relative;

  .MutedBox--greyout {
    cursor: default;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $c-light-gray;
    z-index: 100;

    &.border-s {
      border-radius: $brad-s;
    }

    &.border-m {
      border-radius: $brad-m;
    }

    &.border-l {
      border-radius: $brad-l;
    }
  }

  .MutedBox--content {
    opacity: 0.7;
  }
}
