@import 'aepsy-ui/styles/utils.scss';

.InfoCard {
  position: relative;
  background-color: $c-white;
  border-radius: 12px;
  padding: 30px;
  box-shadow: $bs-light;
  transition: all 600ms cubic-bezier(0.03, 0, 0, 1);

  &:hover {
    transform: translateY(-5px);

    @include tablet-portrait {
      transform: none;
    }
  }

  &.format-vertical {
    display: block;
    align-items: center;
    align-items: flex-start;

    .InfoCard--visual {
      display: flex;
      // align-items: center;
      align-items: flex-start;
      min-height: 220px;
      min-height: 140px;
      // padding: 40px 0 60px 0;
      justify-content: center;
      justify-content: flex-start;

      @include tablet-portrait {
        min-height: 130px;
      }
    }

    .InfoCard--content .Text {
      @include tablet-portrait {
        min-height: 120px;
      }
    }

    .variant-mobileInline & {
      .InfoCard--content .Text {
        @include tablet-portrait {
          min-height: auto;
        }
      }
    }
  }
  &.format-horizontal {
    display: flex;
    align-items: flex-start;

    .InfoCard--visual {
      padding-right: 30px;
      padding-left: 10px;

      @include tablet-portrait {
        padding: 30px 0 40px 0;
      }
    }
  }

  &.variant-heroTitle {
    @include tablet-portrait {
      .InfoCard--content .Title {
        font-size: 22px;
      }

      .InfoCard--visual {
        min-height: 80px;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0;

        .FatNumber--hero {
          display: inline-block;
          margin-right: 10px;
          font-size: 50px;
        }

        .FatNumber--tagline {
          display: inline-block;
          margin-right: 5px;
        }
      }
    }
  }

  &.variant-infoTile {
    @include tablet-portrait {
      padding: 20px;
      display: block;

      .InfoCard--content .Title {
        font-size: 22px;
      }

      .InfoCard--visual {
        // min-height: 80px;
        margin-bottom: 10px;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0;

        .FatNumber--hero {
          display: inline-block;
          margin-right: 10px;
          font-size: 50px;
        }

        .FatNumber--tagline {
          display: inline-block;
          margin-right: 5px;
        }
      }
    }
  }

  &.is-inactive {
    background: $c-green-1;
    opacity: 0.9;
    box-shadow: none;

    &:hover {
      transform: none;

      @include tablet-portrait {
        transform: none;
      }
    }
  }

  &.is-outlined {
    border: 1px solid rgba($c-green-4, 0.5);

    &:hover {
      border: 1px solid rgba($c-green-4, 1);
    }
  }
}

.InfoCard--visual {
}

.InfoCard--content {
}
