.OfferingTabs {
    display: flex;
    overflow-x: auto;
    flex-wrap: nowrap;
    &::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
