@import 'aepsy-ui/styles/utils.scss';
.ProviderDetailPricingAndInsurance {
    .ProviderDetailPricingAndInsurance--tabs {
        display: flex;
        overflow-x: auto;
        flex-wrap: nowrap;
        margin-top: 12px;
        margin-bottom: 24px;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */

        &::-webkit-scrollbar {
            display: none;
        }

        .Tab {
            margin-right: 8px;
        }
    }
    .ProviderDetailPricingAndInsurance--pricingItem {
        display: flex;
        justify-content: space-between;
        background-color: rgba($c-beige-1, 0.6);
        padding: 8px 16px;
        margin-bottom: 12px;
        border-radius: 8px;
        .Text {
            margin: 0;
        }
    }
    .ProviderDetailPricingAndInsurance--pricingWrapper {
        display: flex;
        align-items: center;
    }
}
