@import 'aepsy-ui/styles/utils.scss';

.LoginForm--inner {
    max-width: 450px;
    margin: 30px auto;

    .InputText {
        > div {
            width: 100%;
        }
    }

    .SingleCheckbox {
        margin: 0;
        width: 100%;
    }
}

.LoginForm--icon {
    display: flex;
    justify-content: center;
}
